<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>

    <script src="./vue-google-maps.js"></script>

    <title>Donate Map</title>
</head>

<body>
    <div id="root">

        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <!-- start of section: call to actions -->
                    <div class="section">
                        <div class="content action-panel">
                            <h2>Location: {{disasterLocation}}</h2>
                            <h4>Category: {{disasterCategory}}</h4>
                            <!-- <div v-for="supply in supplies" v-bind:key="supply.id">
                                        <li>{{supply.supply}}</li>
                                </div> -->
                            <hr>
                            <h3>Supplies Needed:</h3>
                            <p>Donate the supplies that the victims needed.</p>
                            <tweetcomponent v-for="supply in supplies" :supply="supply" :key="supply.id" />
                            </tweetcomponent>
                        </div>

                        <div class="content result-panel">
                            <h3>Monetary Donation:</h3>
                            <div class="columns">
                                <div v-for="money in moneys" class="column">
                                    <button class="button is-outlined is-fullwidth" @click="donateMoney">Donate {{money.moneyamount}} MYR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of section: call to actions -->
                </div>
                <!-- start of section: two maps -->
                <div class="column">
                    <h2 class="title">Earthquake data</h2>
                    <google-map :center="eqCenter" :zoom="1" style="width: 100%; height: 50%">
                        <google-marker v-for="m in earthquakeMarkers" :position="m.position"
                            @click="center=m.position">
                        </google-marker>
                    </google-map>

                    <h2 class="title">Malaysia Population Concentration</h2>
                    <google-map :center="ppCenter" :zoom="5" style="width: 100%; height: 50%">
                        <google-marker v-for="m in populationMarkers" :position="m.position"
                            @click="center=m.position">
                        </google-marker>
                    </google-map>
                </div>
                <!-- end of section: two maps -->
            </div>
        </div>
    </div>
    </div>

    <script src="./script.js"></script>


</body>

</html>